<ui:composition template="/WEB-INF/templates/plantilla.xhtml" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">Aviso</ui:define>
    <ui:define name="content">
        
            
                <h:form id="login">
                    <table>
                        <tr>
                            <td>Nombre: </td>
                            <td><h:inputText value=""/></td>
                        </tr>
                        <tr>
                            <td>Grado de Urgencia: </td>
                            <td><h:selectOneMenu id="urgencias" value="">
                            <f:selectItem id="u1" itemLabel="Urgencia 1" itemValue="1" />
                            <f:selectItem id="u2" itemLabel="Urgencia 2" itemValue="2" />
                            <f:selectItem id="u3" itemLabel="Urgencia 3" itemValue="3" />
                            </h:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado: </td>
                            <td><h:selectOneMenu id="estados" value="">
                            <f:selectItem id="e1" itemLabel="Estado 1" itemValue="1" />
                            <f:selectItem id="e2" itemLabel="Estado 2" itemValue="2" />
                            <f:selectItem id="e3" itemLabel="Estado 3" itemValue="3" />
                            </h:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td>Informe del aviso</td>
                            <td><h:inputTextarea value="" /></td>
                        </tr>                      
                        <tr>
                            <td colspan="2">
                                <h:commandButton value="Crear nuevo aviso" action=""/>
                            </td>
                        </tr>
                    </table>
                </h:form>
        <h:messages/>
    </ui:define>
</ui:composition>