<ui:composition template="/WEB-INF/templates/plantilla.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Aviso Particular</ui:define>
    <ui:define name="contenido">
        <c:choose>
            <c:when test="#{controlAutorizacion.usuario.rol == 'SUPERVISOR'}">
                <p:layout style="min-width:400px;min-height:800px">
                    
                    
                    <p:layoutUnit position="center" resizable="true" size="100" minSize="500" maxSize="700">
                        <h:form>
                            <p:growl id="msgs" showDetail="true" />
                            <h:outputText style="font-size: xx-small" value="Operador: #{controlAviso.operador_A.nombre}"/><br/><br/>
                            
                            
                            <h:outputText value="Datos Generales: " style="font-weight: bold"/><br/><br/>
                            <h:outputText value="Afectados:"/>
                            <h:dataTable id="Lista_de_afectados" value="#{controlAviso.afectados}" var="bk" border="0" cellpadding="3" >
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nombre"/>
                                    </f:facet>
                                    <h:outputText value="#{bk.nombre}" rendered="#{not controlAviso.editmode}"/>
                                    <!--Prueba de botón de edit/save-->
                                    <h:inputText value="#{bk.nombre}" rendered="#{controlAviso.editmode}"/>
                                    <!--Hasta aquí la prueba-->
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Teléfono"/>
                                    </f:facet>
                                    <h:outputText value="#{bk.telefono}" rendered="#{not controlAviso.editmode}"/>
                                    <h:inputText value="#{bk.telefono}" rendered="#{controlAviso.editmode}"/>
                                </h:column>
                            </h:dataTable>
                            
                            
                            <h:outputText value="Estado: #{controlAviso.estado}" rendered="#{not controlAviso.editmode}"/>
                            <h:selectOneMenu value="#{controlAviso.estado}" rendered="#{controlAviso.editmode}">
                                <f:selectItem itemLabel="enCola"/>
                                <f:selectItem itemLabel="abierto"/>
                                <f:selectItem itemLabel="despachadoMovilidad"/>
                                <f:selectItem itemLabel="generadaOT"/>
                                <f:selectItem itemLabel="cerrado"/>
                            </h:selectOneMenu><br/>
                            <!--<enCola,abierto,despachadoMovilidad,generadaOT,cerrado-->
                            
                            
                            <h:outputText value="Urgencia: #{controlAviso.grado_Urgencia}" rendered="#{not controlAviso.editmode}"/>
                            <h:selectOneMenu value="#{controlAviso.grado_Urgencia}" rendered="#{controlAviso.editmode}">
                                <f:selectItem itemLabel="Urgente"/>
                                <f:selectItem itemLabel="Planificada"/>
                            </h:selectOneMenu><br/>
                            <!--Urgente,Planificada-->
                            

                            
                        </h:form>
                    </p:layoutUnit>
                    
                    
                    <p:layoutUnit position="south" resizable="true" size="100" minSize="500" maxSize="600">
                        <h:form>
                            <h:outputText style="font-size: xx-small" value="Supervisor : #{controlAviso.supervisor_su.nombre}"/><br/><br/>
                            
                            
                            <h:outputText value="Avisos Relacionados" style="font-weight: bold"/><br/>
                            <h:dataTable id="Avisos" value="#{controlAviso.avisos}" var="bk" border="0" cellpadding="3" >
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="ID"/>
                                    </f:facet>
                                    <h:outputText value="#{bk.id_Aviso}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Descripción"/>
                                    </f:facet>
                                    <h:outputText value="#{bk.nombre}"/>
                                </h:column>
                            </h:dataTable>
                            
                            
                            <h:outputText value="Órdenes Relacionadas" style="font-weight: bold"/><br/>
                            <h:dataTable id="Ordenes" value="#{controlAviso.ordenes}" var="bk" border="0" cellpadding="3" >
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="ID"/>
                                    </f:facet>
                                    <h:commandLink value="#{bk.id_Orden}" action="#{controlOT.setOrden()}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Descripción"/>
                                    </f:facet>
                                    <h:commandLink value="#{bk.descripcion}" action="#{controlOT.setOrden()}"/>
                                </h:column>
                            </h:dataTable><br/>
                            
                            
                            <h:commandButton value="Generar Orden de Trabajo" action="#{controlOT.setOrden()}"/>
                                                        
                            <!--Botón edit/save. Faltan cosas en el .java-->
                            <h:commandButton value="Edit" action="#{controlAviso.edit()}" rendered="#{not controlAviso.editmode}"/>
                            <h:commandButton value="Save" action="#{controlAviso.save()}" rendered="#{controlAviso.editmode}"/>
                            <!---->

                            <h:button value="Atrás" outcome="supervisor.xhtml"></h:button>
                            
                            
                        </h:form>
                    </p:layoutUnit>
                </p:layout>
            </c:when>
            <otherwise>
                <ui:include src="/WEB-INF/templates/errorAutorizacion.xhtml"/>
            </otherwise>
        </c:choose>
    </ui:define>
</ui:composition>
