<ui:composition template="/WEB-INF/templates/plantilla.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">buscarAfectado</ui:define>
    <ui:define name="contenido">
        <c:choose>
            <c:when test="#{controlAutorizacion.usuario.rol == 'TRABAJADOR'}">
                <p:layout style="min-width:400px;min-height:700px;">
                    <p:layoutUnit position="center">
                    
                        <h:form>      

                            <p:growl id="msgs" showDetail="true" />

                            <h3 style="margin-top:0">Busqueda</h3>
                            <p:tabView>
                                <p:tab title="Avisos">
                                    <h:dataTable id="Lista_de_avisos" value="#{controlAfectado.afectados}" var="bk" border="0">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Lista de afectados."/>
                                            </f:facet>
                                            <h:selectOneRadio layout="pageDirection" >
                                                <f:selectItem itemLabel="#{bk.id_afectado}"/>
                                            </h:selectOneRadio>
                                        </h:column>
                                    </h:dataTable>
                                </p:tab>
                                
                            </p:tabView>
                            <h:form>
                                <h:commandButton value ="Ver afectado señalado" actionListener="#{controlAfectado.setAfectado()}" action="#{controlAfectado.nextPage()}"/>
                                <p:button value ="Volver" outcome="busqueda.xhtml"/>
                            </h:form>
                        </h:form>
                </p:layoutUnit>    
                </p:layout>
                
                </c:when>
            <c:otherwise>
                <ui:include src="/WEB-INF/templates/errorAutorizacion.xhtml"/>
            </c:otherwise>
        </c:choose>
    </ui:define>
</ui:composition>