<ui:composition template="/WEB-INF/templates/plantilla.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Combinar Avisos</ui:define>
    <ui:define name="contenido">
        <c:choose>
            <c:when test="#{controlAutorizacion.getUsuario().rol == 'SUPERVISOR'}">
                <p:layout style="min-width:400px;min-height:800px;">
                    <p:layoutUnit position="center" resizable="true" size="100" minSize="500" maxSize="700">
                        <h:form>
                            <p:growl id="msgs" showDetail="true" />
                            
                            <h:outputText value="Avisos Relacionados: "/>
                            
                            <h:dataTable id="Aviso1" value="Aviso #{controlCombinar.aviso}" border="0" cellpadding="3">
                                <f:facet name="header">
                                    <h:outputText value="Aviso1"/>
                                </f:facet>
                                <h:column>
                                    <h:outputText value="ID: "/><br/>
                                    <h:outputText value="Descripción: "/><br/>
                                    <h:outputText value="Estado: "/><br/>
                                    <h:outputText value="Grado de Urgencia: "/><br/>
                                    <!--Diversas entradas posibles de cada aviso-->
                                </h:column>
                                <h:column>
                                    <h:outputText value="#{controlCombinar.aviso.id_Aviso}"/><br/>
                                    <h:outputText value="#{controlCombinar.aviso.nombre}"/><br/>
                                    <h:outputText value="#{controlCombinar.aviso.estado}"/><br/>
                                    <h:outputText value="#{controlCombinar.aviso.grado_Urgencia}"/><br/>
                                    <!--Datos correspondientes a las entradas de la columna anterior-->
                                </h:column>
                            </h:dataTable>
                            
                            <h:dataTable id="Aviso2" value="" border="0">
                                <f:facet name="header">
                                    <h:outputText value="Aviso2"/>
                                </f:facet>
                                <h:column>
                                    <h:outputText value="ID: "/><br/>
                                    <h:outputText value="Descripción: "/><br/>
                                    <h:outputText value="Estado: "/><br/>
                                    <h:outputText value="Grado de Urgencia: "/><br/>
                                    <!--Diversas entradas posibles de cada aviso-->
                                </h:column>
                                <h:column>
                                    <h:outputText value="#{controlCombinar.aviso1.id_Aviso}"/><br/>
                                    <h:outputText value="#{controlCombinar.aviso1.nombre}"/><br/>
                                    <h:outputText value="#{controlCombinar.aviso1.estado}"/><br/>
                                    <h:outputText value="#{controlCombinar.aviso1.grado_Urgencia}"/><br/>
                                    <!--Datos correspondientes a las entradas de la columna anterior-->
                                </h:column>
                            </h:dataTable>
                            
                            <h:dataTable id="Aviso3" value="" border="0">
                                <f:facet name="header">
                                    <h:outputText value="Aviso3"/>
                                </f:facet>
                                <h:column>
                                    <h:outputText value="ID: "/><br/>
                                    <h:outputText value="Descripción: "/><br/>
                                    <h:outputText value="Estado: "/><br/>
                                    <h:outputText value="Grado de Urgencia: "/><br/>
                                    <!--Diversas entradas posibles de cada aviso-->
                                </h:column>
                                <h:column>
                                    <h:outputText value="#{controlCombinar.aviso2.id_Aviso}"/><br/>
                                    <h:outputText value="#{controlCombinar.aviso2.nombre}"/><br/>
                                    <h:outputText value="#{controlCombinar.aviso2.estado}"/><br/>
                                    <h:outputText value="#{controlCombinar.aviso2.grado_Urgencia}"/><br/>
                                    <!--Datos correspondientes a las entradas de la columna anterior-->
                                </h:column>
                            </h:dataTable>                            
                            
                                <h:commandButton type="submit" value="Combinar"/>

                        </h:form>
                    </p:layoutUnit>                   
                </p:layout>
            </c:when>
            <c:otherwise>
                <ui:include src="/WEB-INF/templates/errorAutorizacion.xhtml"/>
            </c:otherwise>
        </c:choose>
    </ui:define>
</ui:composition>
