<ui:composition template="/WEB-INF/templates/plantilla.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Notificación</ui:define>
    <ui:define name="contenido">
        <c:choose>
            <c:when test="#{controlAutorizacion.usuario.rol == 'OPERADOR'}">
                <p:layout style="min-width:400px;min-height:700px;">
                    <p:layoutUnit position="west" resizable="true" size="100" minSize="500" maxSize="600">
                        <h:form>      
                            <p:growl id="msgs" showDetail="true" />
                            <h3 style="margin-top:0">Correos Entrantes</h3>
                            <p:tabView>
                                <p:tab title="No leidos">
                                    <h:dataTable id="ListaCorreosNoLeidos" value="#{controlOperador.correosNoLeidos}" var="bk" border="0">
                                        <h:column>
                                            <f:facet name="header">
                                            </f:facet>
                                            <h:selectOneRadio layout="pageDirection" >
                                                <f:selectItem itemLabel="#{bk.email}"/>
                                            </h:selectOneRadio>
                                        </h:column>
                                    </h:dataTable>
                                    <p:commandButton value="Ver correo" action="#{detalles}" />

                                </p:tab>
                                <p:tab title="Leidos">
                                    <h:dataTable id="ListaCorreosLeidos" value="#{controlOperador.correosLeidos}" var="bk" border="0">
                                        <h:column>
                                            <f:facet name="header">
                                            </f:facet>
                                            <h:selectOneRadio layout="pageDirection" >
                                                <f:selectItem itemLabel="#{bk.email}"/>
                                            </h:selectOneRadio>
                                        </h:column>
                                    </h:dataTable>
                                    <p:commandButton value="Ver correo" type="reset" />
                                </p:tab>
                            </p:tabView>                       
                        </h:form>
                    </p:layoutUnit>
                    <p:layoutUnit position="center">
                        <h:form>
                            <p:growl id="growl" sticky="true" showDetail="true"/>
                            <p:wizard flowListener="#{controlOperador.onFlowProcess}">
                                <p:tab id="notificacion" title="Notificación">
                                    <p:panel header="Detalles Notificación">
                                        <p:messages />
                                        <h:panelGrid columns="2" columnClasses="label, value">
                                            <h:outputText value="Descripción: * " />
                                            <p:inputText value="#{controlOperador.notificaciones.descripcion}" required="true" label="Descripción"/>

                                            <p:outputLabel value="Fecha: * "/>
                                            <p:inputText value="#{controlOperador.notificaciones.fecha}" required="true" label="Fecha"/>

                                            <h:outputText value="Notificador: " />
                                            <p:inputText value="#{controlOperador.notificaciones.notificador}" />

                                            <h:outputText value="Teléfono Notificador: " />
                                            <p:inputMask value="#{controlOperador.notificaciones.tlf_notificador}" mask="999-999-999"/>

                                            <h:outputText value="Email: " />
                                            <p:inputText value="#{controlOperador.notificaciones.email}" />

                                            <p:commandButton value="Limpiar" type="reset" />
                                        </h:panelGrid>
                                    </p:panel>
                                </p:tab>

                                <p:tab id="aviso" title="Aviso">
                                    <p:panel header="Detalles Aviso">
                                        <p:messages />
                                        <h:panelGrid columns="2" columnClasses="label, value">
                                            <h:outputText value="Nombre: * " />
                                            <p:inputText value="#{controlOperador.avisos.nombre}" required="true" label="Nombre"/>

                                            <h:outputText value="Urgencia: * " />
                                            <p:selectOneMenu value="#{controlOperador.avisos.grado_Urgencia}" required="true" label="Grado Urgencia">
                                                <f:selectItem itemLabel="Seleccione Una" itemValue="" />
                                                <f:selectItem itemLabel="Urgente" itemValue="Urgente" />
                                                <f:selectItem itemLabel="Planificada" itemValue="Planificada" />
                                            </p:selectOneMenu>

                                            <h:outputText value="Estado: * " />                                          
                                            <p:selectOneMenu value="#{controlOperador.avisos.estado}" required="true" label="Estado">
                                                <f:selectItem itemLabel="Seleccione Una" itemValue="" />
                                                <f:selectItem itemLabel="En cola" itemValue="enCola" />
                                                <f:selectItem itemLabel="Abierto" itemValue="abierto" />
                                                <f:selectItem itemLabel="Despachado Movilidad" itemValue="despachadoMovilidad" />
                                                <f:selectItem itemLabel="Generada OT" itemValue="generadaOT" />
                                                <f:selectItem itemLabel="Cerrado" itemValue="cerrado" />
                                            </p:selectOneMenu>

                                            <h:outputText value="Informe: " />
                                            <p:inputTextarea value="#{controlOperador.avisos.informe}" />

                                            <p:commandButton value="Limpiar" type="reset" />
                                        </h:panelGrid>
                                    </p:panel>
                                </p:tab>

                                <p:tab id="afectado" title="Afectado">
                                    <p:panel header="Detalles Afectado">
                                        <p:messages />
                                        <h:panelGrid columns="2" columnClasses="label, value">
                                            <h:outputText value="Nombre: " />
                                            <p:inputText value="#{controlOperador.afectados.nombre}"/>

                                            <h:outputText value="Direccion: * " />
                                            <p:inputText value="#{controlOperador.afectados.direccion}" required="true" label="Fecha"/>

                                            <h:outputText value="Telefono: " />
                                            <p:inputMask value="#{controlOperador.afectados.telefono}" mask="999-999-999"/>

                                            <h:outputText value="Disponibilidad: " />
                                            <p:inputText value="#{controlOperador.afectados.disponibilidad}" />

                                            <p:commandButton value="Limpiar" type="reset" />
                                        </h:panelGrid>
                                    </p:panel>
                                </p:tab>

                                <p:tab id="confirm" title="Confirmación">
                                    <p:panel header="Revision notificación">
                                        <h:panelGrid id="confirmation" columns="3" columnClasses="grid,grid,grid">
                                            <h:panelGrid columns="2" columnClasses="label, value">
                                                <h:outputText value="ID_Notificación: " />
                                                <h:outputText value="#{controlOperador.notificaciones.id_notificaciones}" styleClass="outputLabel"/>

                                                <h:outputText value="Descripción: " />
                                                <h:outputText value="#{controlOperador.notificaciones.descripcion}" styleClass="outputLabel"/>

                                                <h:outputText value="Fecha: " />
                                                <h:outputText value="#{controlOperador.notificaciones.fecha}" styleClass="outputLabel"/>

                                                <h:outputText value="Notificador: " />
                                                <h:outputText value="#{controlOperador.notificaciones.notificador}" styleClass="outputLabel"/>

                                                <h:outputText value="Telefono Notificador: " />
                                                <h:outputText value="#{controlOperador.notificaciones.tlf_notificador}" styleClass="outputLabel"/>

                                                <h:outputText value="Email: " />
                                                <h:outputText value="#{controlOperador.notificaciones.email}" styleClass="outputLabel"/>

                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </p:panel>
                                    <p:panel header="Revision Aviso">
                                        <h:panelGrid id="confirmation1" columns="1" columnClasses="grid">
                                            <h:panelGrid columns="2" columnClasses="label, value">
                                                <h:outputText value="ID Aviso: " />
                                                <h:outputText value="#{controlOperador.avisos.setId_Aviso(id_Aviso)}" styleClass="outputLabel"/>

                                                <h:outputText value="Nombre:  " />
                                                <h:outputText value="#{controlOperador.avisos.nombre}" styleClass="outputLabel"/>

                                                <h:outputText value="Grado Urgencia:  " />
                                                <h:outputText value="#{controlOperador.avisos.grado_Urgencia}" styleClass="outputLabel"/>

                                                <h:outputText value="Estado:  " />
                                                <h:outputText value="#{controlOperador.avisos.estado}" styleClass="outputLabel"/>

                                                <h:outputText value="Informe: " />
                                                <h:outputText value="#{controlOperador.avisos.informe}" styleClass="outputLabel"/>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </p:panel>

                                    <p:panel header="Revision Afectado">
                                        <h:panelGrid id="confirmation2" columns="1" columnClasses="grid">
                                            <h:panelGrid columns="2" columnClasses="label, value">
                                                <h:outputText value="ID Afectado:  " />
                                                <h:outputText value="#{controlOperador.afectados.setId_afectado(id_afectado)}" styleClass="outputLabel"/>

                                                <h:outputText value="Nombre:  " />
                                                <h:outputText value="#{controlOperador.afectados.nombre}" styleClass="outputLabel"/>

                                                <h:outputText value="Dirección:  " />
                                                <h:outputText value="#{controlOperador.afectados.direccion}" styleClass="outputLabel"/>

                                                <h:outputText value="Teléfono:  " />
                                                <h:outputText value="#{controlOperador.afectados.telefono}" styleClass="outputLabel"/>

                                                <h:outputText value="Disponibilidad: " />
                                                <h:outputText value="#{controlOperador.afectados.disponibilidad}" styleClass="outputLabel"/>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </p:panel>
                                                                   
                                    <p:growl id="message" showDetail="true" />
                                    <p:commandButton value="Crear Aviso" actionListener="#{controlOperador.crear()}" update="message" ajax="false" >
                                        <p:confirm header="Confirmación" message="¿Estás seguro de crear el Aviso?" icon="ui-icon-alert" /> 
                                    </p:commandButton>

                                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                    </p:confirmDialog>
                                   
                                    
                                </p:tab>
                            </p:wizard>

                        </h:form>
                    </p:layoutUnit>
                </p:layout>
            </c:when>
            <c:otherwise>
                <ui:include src="/WEB-INF/templates/errorAutorizacion.xhtml"/>
            </c:otherwise>
        </c:choose>
    </ui:define>

</ui:composition>