<ui:composition template="/WEB-INF/templates/plantilla.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Pagina principal del supervisor</ui:define>
    <ui:define name="contenido">
        <c:choose>
            <c:when test="#{controlAutorizacion.usuario.rol == 'SUPERVISOR'}">
                <p:layout  style="min-width:400px;min-height:500px;">
                    <p:layoutUnit position="center" resizable="true" size="100" minSize="500" maxSize="600">
                        <h:form>      

                            <p:growl id="msgs" showDetail="true" />

                            <h3 style="margin-top:0">Supervisor</h3>
                            <p:tabView>
                                <p:tab title="Avisos No Leídos">
                                    <c:choose>
                                        <c:when test="#{not empty supervisorBean.navisos}">
                                            <h:dataTable id="Lista_de_avisos_nuevos" value="#{supervisorBean.navisos}" var="bk" border="0">

                                                <h:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Lista de avisos sin leer."/>
                                                    </f:facet>
                                                    <h:selectOneRadio layout="pageDirection" >
                                                        <f:selectItem itemLabel="#{bk.id_Aviso}: #{bk.nombre}" itemValue="#{bk.id_Aviso}"/>
                                                    </h:selectOneRadio>
                                                </h:column>
                                            </h:dataTable>
                                        </c:when>
                                        <c:otherwise>
                                            <h:outputText value="No hay nuevos avisos"/>
                                        </c:otherwise>
                                    </c:choose>
                                </p:tab>
                                <p:tab title="Avisos Leídos">
                                    <c:choose>
                                        <c:when test="#{not empty supervisorBean.lavisos}">
                                            <h:dataTable id="Lista_de_avisos_leidos" value="#{supervisorBean.lavisos}" var="bk" border="0">

                                                <h:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Lista de avisos leídos."/>
                                                    </f:facet>
                                                    <h:selectOneRadio layout="pageDirection" >
                                                        <f:selectItem itemLabel="#{bk.id_Aviso}: #{bk.nombre}"/>
                                                    </h:selectOneRadio>
                                                </h:column>
                                            </h:dataTable>
                                        </c:when>
                                        <c:otherwise>
                                            <h:outputText value="No hay avisos leídos"/>
                                        </c:otherwise>
                                    </c:choose>
                                </p:tab>


                                <p:tab title="Avisos Cerrados">
                                    <c:choose>
                                        <c:when test="#{not empty supervisorBean.cavisos}">
                                            <h:dataTable id="Lista_de_avisos_cerrados" value="#{supervisorBean.cavisos}" var="bk" border="0">

                                                <h:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Lista de avisos cerrados."/>
                                                    </f:facet>
                                                    <h:selectOneRadio layout="pageDirection" >
                                                        <f:selectItem itemLabel="#{bk.id_Aviso}: #{bk.nombre}"/>
                                                    </h:selectOneRadio>
                                                </h:column>

                                            </h:dataTable>
                                        </c:when>
                                        <c:otherwise>
                                            <h:outputText value="No hay avisos cerrados"/>
                                        </c:otherwise>
                                    </c:choose>
                                </p:tab>
                                
                                <p:tab title="Historial de Avisos">
                                    <c:choose>
                                        <c:when test="#{not empty supervisorBean.geAvisos}">
                                            <h:dataTable id="Lista_de_avisos" value="#{supervisorBean.geAvisos}" var="bk" border="0">

                                                <h:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Lista de avisos."/>
                                                    </f:facet>
                                                    <h:selectOneRadio layout="pageDirection" >
                                                        <f:selectItem itemLabel="#{bk.id_Aviso}: #{bk.nombre} supervisor: #{bk.supervisor_A} estado: #{bk.estado}"/>
                                                    </h:selectOneRadio>
                                                </h:column>

                                            </h:dataTable>
                                        </c:when>
                                        <c:otherwise>
                                            <h:outputText value="No hay avisos"/>
                                        </c:otherwise>
                                    </c:choose>
                                </p:tab>
                            </p:tabView>
                            <h:form>
                                <h:commandButton value="Unir los avisos seleccionados" action="#{controlCombinar.setCombinar()}"/> 
                                <h:commandButton value="Ver aviso" action="#{controlAviso.setAviso()}"/>  
                            </h:form>
                        </h:form>
                    </p:layoutUnit>
                </p:layout>

            </c:when>
            <c:otherwise>
                <ui:include src="/WEB-INF/templates/errorAutorizacion.xhtml"/>
            </c:otherwise>
        </c:choose>
    </ui:define>

</ui:composition>
