<ui:composition template="/WEB-INF/templates/plantilla.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Pagina principal del trabajador</ui:define>
    <ui:define name="contenido">
        <c:choose>
            <c:when test="#{controlAutorizacion.usuario.rol == 'TRABAJADOR'}">
                <p:layout  style="min-width:400px;min-height:500px;">
                    <p:layoutUnit position="center" resizable="true" size="100" minSize="500" maxSize="600">
                        <h:form>      

                            <p:growl id="msgs" showDetail="true" />

                            <h3 style="margin-top:0">OT</h3>
                            <p:tabView>
                                <p:tab title="Activas">
                                    <h:dataTable id="Lista_de_ordenes" value="#{controlTrabajador.orden}" var="bk" border="0">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Lista de Ordenes."/>
                                            </f:facet>
                                            <h:selectOneRadio layout="pageDirection" >
                                                <f:selectItem itemLabel="#{bk.id_Orden}"/>
                                            </h:selectOneRadio>
                                            <!-- Si no se arregla que se puedan marcar varios, hay que hacerlo como abajo -->
                                        </h:column>
                                    </h:dataTable>
                                    <!--
                                    <h:selectOneRadio>
                                        <f:selectItem itemLabel="OT 1"/>
                                        <f:selectItem itemLabel="OT 2"/>
                                        <f:selectItem itemLabel="OT 3"/>
                                        <f:selectItem itemLabel="OT 4"/>
                                    </h:selectOneRadio>
                                    -->
                                </p:tab>
                                <p:tab title="Cerradas">
                                    <h:dataTable id="Lista_de_ordenes2" value="#{controlTrabajador.orden}" var="bk" border="0">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Lista de Ordenes."/>
                                            </f:facet>
                                            <h:selectOneRadio layout="pageDirection" >
                                                <f:selectItem itemLabel="#{bk.id_Orden}"/>
                                            </h:selectOneRadio>
                                            <!-- Si no se arregla que se puedan marcar varios, hay que hacerlo como abajo -->
                                        </h:column>
                                    </h:dataTable>
                                </p:tab>
                            </p:tabView>
                            <h:form>
                                <h:commandButton value ="Modificar/ver OT" action="#{controlOT.setOrden}"/>
                                <p:button value ="Ver aviso de la OT selecionada" outcome="busqueda.xhtml"/>
                            </h:form>
                        </h:form>
                    </p:layoutUnit>
                </p:layout>

            </c:when>
            <c:otherwise>
                <ui:include src="/WEB-INF/templates/errorAutorizacion.xhtml"/>
            </c:otherwise>
        </c:choose>
    </ui:define>

</ui:composition>
